<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>xy.controller.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookDetailServlet</servlet-name>
        <servlet-class>xy.controller.BookDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookDetailServlet</servlet-name>
        <url-pattern>/BookDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>xy.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>xy.controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>xy.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>firstServlet</servlet-name>
        <servlet-class>Neo4j.firstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstServlet</servlet-name>
        <url-pattern>/firstServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teachServlet</servlet-name>
        <servlet-class>xy.controller.teachServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teachServlet</servlet-name>
        <url-pattern>/teachServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EasyCheckOut</servlet-name>
        <servlet-class>xy.controller.EasyCheckOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EasyCheckOut</servlet-name>
        <url-pattern>/EasyCheckOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartCheckOut</servlet-name>
        <servlet-class>xy.controller.CartCheckOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartCheckOut</servlet-name>
        <url-pattern>/CartCheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MongoServletQ6</servlet-name>
        <url-pattern>/MongoServletQ6</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeRegisterServlet</servlet-name>
        <servlet-class>xy.controller.HomeRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeRegisterServlet</servlet-name>
        <url-pattern>/HomeRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BusinessRegisterServlet</servlet-name>
        <servlet-class>xy.controller.BusinessRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessRegisterServlet</servlet-name>
        <url-pattern>/BusinessRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartDeleteServlet</servlet-name>
        <servlet-class>xy.controller.CartDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartDeleteServlet</servlet-name>
        <url-pattern>/CartDeleteServlet</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    <servlet>
        <servlet-name>Q0ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q0ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q0ServletSQL</servlet-name>
        <url-pattern>/Q0ServletSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q1ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q1ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q1ServletSQL</servlet-name>
        <url-pattern>/Q1ServletSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q2ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q2ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q2ServletSQL</servlet-name>
        <url-pattern>/Q2ServletSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q3ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q3ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q3ServletSQL</servlet-name>
        <url-pattern>/Q3ServletSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q4ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q4ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q4ServletSQL</servlet-name>
        <url-pattern>/Q4ServletSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q5ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q5ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q5ServletSQL</servlet-name>
        <url-pattern>/Q5ServletSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q6ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q6ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q6ServletSQL</servlet-name>
        <url-pattern>/Q6ServletSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q7ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q7ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q7ServletSQL</servlet-name>
        <url-pattern>/Q7ServletSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q8ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q8ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q8ServletSQL</servlet-name>
        <url-pattern>/Q8ServletSQL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q9ServletSQL</servlet-name>
        <servlet-class>SQL.Servlet.Q9ServletSQL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q9ServletSQL</servlet-name>
        <url-pattern>/Q9ServletSQL</url-pattern>
    </servlet-mapping>
    
    
    
    
    <servlet>
        <servlet-name>MongoServletQ1</servlet-name>
        <servlet-class>MongoServlet.MongoServletQ1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoServletQ1</servlet-name>
        <url-pattern>/MongoServletQ1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MongoServletQ2</servlet-name>
        <servlet-class>MongoServlet.MongoServletQ2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoServletQ2</servlet-name>
        <url-pattern>/MongoServletQ2</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>MongoServletQ3</servlet-name>
        <servlet-class>MongoServlet.MongoServletQ3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoServletQ3</servlet-name>
        <url-pattern>/MongoServletQ3</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>MongoServletQ4</servlet-name>
        <servlet-class>MongoServlet.MongoServletQ4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoServletQ4</servlet-name>
        <url-pattern>/MongoServletQ4</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>MongoServletQ5</servlet-name>
        <servlet-class>MongoServlet.MongoServletQ5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoServletQ5</servlet-name>
        <url-pattern>/MongoServletQ5</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>MongoServletQ6</servlet-name>
        <servlet-class>MongoServlet.MongoServletQ6</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoServletQ6</servlet-name>
        <url-pattern>/MongoServletQ6</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>MongoServletQ7</servlet-name>
        <servlet-class>MongoServlet.MongoServletQ7</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoServletQ7</servlet-name>
        <url-pattern>/MongoServletQ7</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>MongoServletQ8</servlet-name>
        <servlet-class>MongoServlet.MongoServletQ8</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoServletQ8</servlet-name>
        <url-pattern>/MongoServletQ8</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>MongoServletQ9</servlet-name>
        <servlet-class>MongoServlet.MongoServletQ9</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MongoServletQ9</servlet-name>
        <url-pattern>/MongoServletQ9</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>cleanServlet</servlet-name>
        <servlet-class>MongoServlet.cleanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cleanServlet</servlet-name>
        <url-pattern>/cleanServlet</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>updateWarehouse</servlet-name>
        <servlet-class>MongoServlet.updateWarehouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateWarehouse</servlet-name>
        <url-pattern>/updateWarehouse</url-pattern>
    </servlet-mapping>
    
    
    
    
    
        <servlet>
        <servlet-name>Q2Servlet</servlet-name>
        <servlet-class>Neo4jServlet.Q2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q2Servlet</servlet-name>
        <url-pattern>/Q2Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q3Servlet</servlet-name>
        <servlet-class>Neo4jServlet.Q3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q3Servlet</servlet-name>
        <url-pattern>/Q3Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q4Servlet</servlet-name>
        <servlet-class>Neo4jServlet.Q4Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q4Servlet</servlet-name>
        <url-pattern>/Q4Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q6Servlet</servlet-name>
        <servlet-class>Neo4jServlet.Q6Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q6Servlet</servlet-name>
        <url-pattern>/Q6Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Q8Servlet</servlet-name>
        <servlet-class>Neo4jServlet.Q8Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q8Servlet</servlet-name>
        <url-pattern>/Q8Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TServlet</servlet-name>
        <servlet-class>Neo4jServlet.TServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TServlet</servlet-name>
        <url-pattern>/TServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>Neo4jServlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateNeoServlet</servlet-name>
        <url-pattern>/updateNeoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateNeoServlet</servlet-name>
        <servlet-class>Neo4jServlet.updateNeoServlet</servlet-class>
    </servlet>
    
</web-app>
